/*
* { margin: 0px; padding: 0; outline: none; }
html { height: 101%; }
body { font-size: 62.5%; background: #fff; font-family: "Calibri", Tahoma, Arial, sans-serif; color: #444; }

img { max-width: 100%; }

a { text-decoration: none; color: #39569d; }
a:hover { text-decoration: underline; }


h1 { font-weight: bold; font-size: 2.15em; line-height: 1.6em; margin-bottom: 0px; color: #fff;}

h2 { display: block; font-weight: bold; line-height: 1.85em; margin-bottom: 5px; }

h3 { font-weight: bold; font-size: 1.5em; line-height: 1.35em; margin-bottom: 2px; color: #777; padding-top: 6px; }

header { margin: 0px;  outline: none; display: block; background: #34519b; height: 45px; padding: 0px 15px; }

#loginUser { position: relative; left: 600px; height: 45px;  color: #fff; line-height: 55px;}

#loginUser input, textarea {
  font    : .font-family: "Calibri", Tahoma, Arial, sans-serif; color: #fff; 
  padding : 0 5px;
  margin  : 0;
  vertical-align: middle; 
}

#loginUser input:focus, textarea:focus {
  background   : #e2e8f6;

}

#loginUser submit{ position: absolute; right: 0; top: 13px; padding: 4px 9px; background: #5972a8; font-size: 1.2em; cursor: pointer; border: 1px solid #1a356e; color: #fff; -webkit-box-shadow: inset 0 1px 0 #8a9cc2; -moz-box-shadow: inset 0 1px 0 #8a9cc2; box-shadow: inset 0 1px 0 #8a9cc2; margin-bottom: 5px; margin-top: -5px; display: none;
}
#loginUser submit:hover { color: #fff; background: #607db7; text-decoration: none; }
#loginUser submit:active { background: #556790; }


header ul li { display: inline;  position: relative; left: 1100px; top: -35px; }
	
header ul li a{ display: inline; font-weight: bold; font-size: 1.5em; color: #fff; margin-right: 20px;}

header h1 a{ display: inline; font-weight: bold; font-size: 1.5em; line-height: 1.6em; margin-bottom: 0px; color: #fff;}
header h1 a:hover { text-decoration: none; }



#wrapper { display: block; padding: 0; max-width: 960px; margin-top: 0px; }

#core { display: block; max-width: 460px; font-family: 'lucida grande', tahoma, verdana, arial, sans-serif; margin-left: 30%; }

.profileinfo { background: #f2f2f2; width: 100%; padding: 4px 10px; border-left: 1px solid #b3b3b3; border-right: 1px solid #b3b3b3; border-bottom: 1px solid #b3b3b3; }
.profileinfo h2 { position: relative; left: -250px; }

.gear { position: relative; display: block; margin-bottom: 25px; padding-bottom: 15px; border-bottom: 1px solid #d9d9d9; }

.gear a.editlink { position: absolute; right: 0; top: 13px; }

.gear a.editdatelink { position: absolute; right: 0; top: 13px; }

.datainfo { margin-left: 10px; font-size: 11px; color: #333; }

label { display: inline-block; font-weight: bold; color: #696969; font-size: 12px; width: 100px; }

/** @group form inputs **/
/*.hlite { background: #e2e8f6; border: 1px solid #bdc7d8; width: 250px; margin-left: -7px; padding: 4px 7px; color: #565656; font-size: 12px; }*/

/** @group buttons **/
/*.savebtn { position: absolute; right: 0; top: 13px; padding: 4px 9px; background: #5972a8; font-size: 1.2em; cursor: pointer; border: 1px solid #1a356e; color: #fff; -webkit-box-shadow: inset 0 1px 0 #8a9cc2; -moz-box-shadow: inset 0 1px 0 #8a9cc2; box-shadow: inset 0 1px 0 #8a9cc2; margin-bottom: 5px; margin-top: -5px; display: none;
}
.savebtn:hover { color: #fff; background: #607db7; text-decoration: none; }
.savebtn:active { background: #556790; }


.datesavebtn { position: absolute; right: 0; top: 13px; padding: 4px 9px; background: #5972a8; font-size: 1.2em; cursor: pointer; border: 1px solid #1a356e; color: #fff; -webkit-box-shadow: inset 0 1px 0 #8a9cc2; -moz-box-shadow: inset 0 1px 0 #8a9cc2; box-shadow: inset 0 1px 0 #8a9cc2; margin-bottom: 5px; margin-top: -5px; display: none;
}
.datesavebtn:hover { color: #fff; background: #607db7; text-decoration: none; }
.datesavebtn:active { background: #556790; }

*/


@import url("reset.css");


/* OUR CSS */


/* Colors */
/*
black: #000000;
dark blue: #263248;
light blue:7E8AA2;
white: FFFFFF;
yellow: FF9800;
*/
/*
style | variant | weight | size/line-height | family 

font-family: normal, normal, bold, 1.4rem/3rem, 'Noto Sans', sans-serif;
*/

/*		
	General		
*/
#hidden, .hidden {
	display: none;
}

/* By doing this, 1rem == 10px */
html { font-size: 62.5%; } 

body {
	font-size: 1.4rem;
}

a {		
	text-decoration: none;		
}

/*
	Header
*/
/* General */
body>header {
	position: relative;
	height: 8rem;
	color: #fff;
	background-color: #263248;
}

/* Website title/'logo' */
body>header h1 {
	position: absolute;
	left: 10rem;
	top: 50%;		
	transform: translateY(-50%);		
	display: inline;		
	font: normal normal 700 2rem/2.5rem 'Open Sans', sans-serif;	
	}		
		body>header h1 a {		
			color: #fff;		
		}		
	/* Anchors inside Header */		
	body>header a {		
		color: #fff;		
	}		
		
/* [User is logged out] Login / Signup block */		
#login_container {		
	position: absolute;		
	right: 10rem;		
	top: 50%;		
	transform: translateY(-50%);		
 }

#loginUser {
	margin-bottom: 1rem;
}
#loginUser label {		
		display: inline-block;		
		margin: 0 .5rem;		
		color: #FFF;		
		font-size: 1.1rem;		
	}		
		#loginUser label:first-of-type {		
			margin-left: 0;		
		}		
	#loginUser input[type="submit"] {		
		display: inline;		
	}


/* [User is logged in] My Page / Log out block */
header nav {
	position: absolute;	
	right: 10rem;
	top: 50%;
	transform: translateY(-50%);
	height: 3rem;
	font: normal normal 400 2rem/2.5rem 'Open Sans', sans-serif;
}
header nav li {		
		display: inline;		
		margin-left: 5rem;		
}

#btn_logout {
	background-color: #c1c1c1;
	color: white;
	font-size: 1.5rem;
	font-weight: 400;
	border-radius: 5px;
	padding: .35rem 1.2rem;
 }

/*
	Wrapper
*/
#wrapper_main {
	margin: 0 auto;
	max-width: 150rem;
	padding: 10rem;
}

/*
	FORMS
*/
/* Forms generic */
form input, textarea, form select {
	display: block;
}

form label {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}

input {
	margin: .5rem 0;
}


/*
	Event
*/
.event {
	margin: 2rem 0;
}

.event_name {
	font: normal normal 800 3rem/3.2rem 'Open Sans', sans-serif;
	margin: .8rem 0;
}

.event.thumb {
	width: 44.6rem;
	height: 20rem;
	margin: 0 2.5rem;
	display: inline-block;
	border: solid 1px black;
}
	.event.thumb .EventImage {
		float: left;
		width: 40%;
	}		
	.event.thumb .event_name {		
		font: normal normal 800 2rem/3rem 'Open Sans', sans-serif;
		margin: .8rem 0;
	}

/* Os 3 seguintes servem apenas para colocar a lupa na caixa de search */

#search {
	position:relative; 
	padding:0;
	margin:0;
}

#searchEventByName {
	height:20px; 
	margin:0;
}

#searchImg {
	position:absolute;
	bottom:37px;
	left:150px;
	width:20px;
	height:20px;
}

