/*
* { margin: 0px; padding: 0; outline: none; }
html { height: 101%; }
body { font-size: 62.5%; background: #fff; font-family: "Calibri", Tahoma, Arial, sans-serif; color: #444; }

img { max-width: 100%; }

a { text-decoration: none; color: #39569d; }
a:hover { text-decoration: underline; }


h1 { font-weight: bold; font-size: 2.15em; line-height: 1.6em; margin-bottom: 0px; color: #fff;}

h2 { display: block; font-weight: bold; line-height: 1.85em; margin-bottom: 5px; }

h3 { font-weight: bold; font-size: 1.5em; line-height: 1.35em; margin-bottom: 2px; color: #777; padding-top: 6px; }

header { margin: 0px;  outline: none; display: block; background: #34519b; height: 45px; padding: 0px 15px; }

#loginUser { position: relative; left: 600px; height: 45px;  color: #fff; line-height: 55px;}

#loginUser input, textarea {
  font    : .font-family: "Calibri", Tahoma, Arial, sans-serif; color: #fff; 
  padding : 0 5px;
  margin  : 0;
  vertical-align: middle; 
}

#loginUser input:focus, textarea:focus {
  background   : #e2e8f6;

}

#loginUser submit{ position: absolute; right: 0; top: 13px; padding: 4px 9px; background: #5972a8; font-size: 1.2em; cursor: pointer; border: 1px solid #1a356e; color: #fff; -webkit-box-shadow: inset 0 1px 0 #8a9cc2; -moz-box-shadow: inset 0 1px 0 #8a9cc2; box-shadow: inset 0 1px 0 #8a9cc2; margin-bottom: 5px; margin-top: -5px; display: none;
}
#loginUser submit:hover { color: #fff; background: #607db7; text-decoration: none; }
#loginUser submit:active { background: #556790; }


header ul li { display: inline;  position: relative; left: 1100px; top: -35px; }
	
header ul li a{ display: inline; font-weight: bold; font-size: 1.5em; color: #fff; margin-right: 20px;}

header h1 a{ display: inline; font-weight: bold; font-size: 1.5em; line-height: 1.6em; margin-bottom: 0px; color: #fff;}
header h1 a:hover { text-decoration: none; }



#wrapper { display: block; padding: 0; max-width: 960px; margin-top: 0px; }

#core { display: block; max-width: 460px; font-family: 'lucida grande', tahoma, verdana, arial, sans-serif; margin-left: 30%; }

.profileinfo { background: #f2f2f2; width: 100%; padding: 4px 10px; border-left: 1px solid #b3b3b3; border-right: 1px solid #b3b3b3; border-bottom: 1px solid #b3b3b3; }
.profileinfo h2 { position: relative; left: -250px; }

.gear { position: relative; display: block; margin-bottom: 25px; padding-bottom: 15px; border-bottom: 1px solid #d9d9d9; }

.gear a.editlink { position: absolute; right: 0; top: 13px; }

.gear a.editdatelink { position: absolute; right: 0; top: 13px; }

.datainfo { margin-left: 10px; font-size: 11px; color: #333; }

label { display: inline-block; font-weight: bold; color: #696969; font-size: 12px; width: 100px; }

/** @group form inputs **/
/*.hlite { background: #e2e8f6; border: 1px solid #bdc7d8; width: 250px; margin-left: -7px; padding: 4px 7px; color: #565656; font-size: 12px; }*/

/** @group buttons **/
/*.savebtn { position: absolute; right: 0; top: 13px; padding: 4px 9px; background: #5972a8; font-size: 1.2em; cursor: pointer; border: 1px solid #1a356e; color: #fff; -webkit-box-shadow: inset 0 1px 0 #8a9cc2; -moz-box-shadow: inset 0 1px 0 #8a9cc2; box-shadow: inset 0 1px 0 #8a9cc2; margin-bottom: 5px; margin-top: -5px; display: none;
}
.savebtn:hover { color: #fff; background: #607db7; text-decoration: none; }
.savebtn:active { background: #556790; }


.datesavebtn { position: absolute; right: 0; top: 13px; padding: 4px 9px; background: #5972a8; font-size: 1.2em; cursor: pointer; border: 1px solid #1a356e; color: #fff; -webkit-box-shadow: inset 0 1px 0 #8a9cc2; -moz-box-shadow: inset 0 1px 0 #8a9cc2; box-shadow: inset 0 1px 0 #8a9cc2; margin-bottom: 5px; margin-top: -5px; display: none;
}
.datesavebtn:hover { color: #fff; background: #607db7; text-decoration: none; }
.datesavebtn:active { background: #556790; }

*/


/* CSS RESET */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/* OUR CSS */


/* Colors */
/*
black: #000000;
dark blue: #263248;
light blue:7E8AA2;
white: FFFFFF;
yellow: FF9800;
*/
/*
style | variant | weight | size/line-height | family 

font-family: normal, normal, bold, 1.4rem/3rem, 'Noto Sans', sans-serif;
*/

#hidden, .hidden {
	display: none;
}


html { font-size: 62.5%; } 

body {
	/*width: 100%;*/
	margin: 0, auto;
	font-size: 1.4rem;
}

body>header {
	height: 7rem;
	color: #fff;
	padding: .8rem 10rem;
	background-color: #263248;
}

body>header h1 {
	display: inline;
	position: relative;
	top: 2.5rem;
	font-size: 2rem;
}

body>header h1 a {
	color: #fff;
	font-weight: bold;
	font-family: 'Noto Sans', sans-serif;
	text-decoration: none;
}

body>header a {
	color: #FF9800;
	text-decoration: none;
}

#wrapper_main {
	margin: 0 10rem;
}

/*
	FORMS
*/
#login_container {
	float: right;
	margin-top: .2rem;
}

#loginUser {
	margin-bottom: 1rem;
}

#loginUser label {
	display: inline-block;
	color: #FFF;
}

#loginUser input[type="submit"] {
	display: inline;
}

/* Forms generic */
form input, textarea, form select {
	display: block;
}


form label {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1rem;
	text-transform: uppercase;
}

input {
	margin: .5rem 0;
}

label {
	margin: 0 .5rem;
}

label:first-of-type {
	margin-left: 0;
}

/*
	Event
*/
.event {
	margin: 2rem 0;
	width: 50%;
}

.event_name {
	font: normal normal 800 3rem/3.2rem 'Open Sans', sans-serif;
	margin: .8rem 0;
}






/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* column width: auto */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }
/* column width: ~62px */

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }
/* column width: ~81px */

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }
/* column width: ~97px */